develop.ipynb
deploy.md
__pycache__
cache
/.env*
*debug*
*dev*
/streamer
views
.DS*
*.zip
models/models--*
models/.*
*.pdf
profile.svg
Python3*
settings.yaml
datasets
./*.png
*.jpg
*.whl
test*.png
output/scene.glb
output/depth_vis/0000.jpg
*.zip
.claude
.claude_cache
.vscode
.mcp.json
CLAUDE.md
*CHANGELOG.md
.sline
