glcontext==3.0.0
glfw==2.9.0
moderngl==5.12.0
opencv-python==4.12.0.88
transformers==4.54.0
hf_xet==1.1.7
mss==10.0.0

# for video depth anything
imageio==2.37.0
easydict==1.13
einops==0.8.1

# for rtmp and new streaming
sounddevice==0.5.3
PyOpenGL==3.1.10